<form (submit)="addNewProduct(addProductForm)" #addProductForm="ngForm">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer01">Product Name</label>
      <input type="text" class="form-control" id="validationServer01" value="" required name="product_name" ngModel>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer02">Category Id</label>
      <input type="text" class="form-control" id="validationServer02" value="" required name="product_category" ngModel>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Description</label>
      <input type="text" class="form-control " id="validationServer03" aria-describedby="validationServer03Feedback" required name="product_description" ngModel>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer04">Rating</label>
      <select class="custom-select" id="validationServer04" aria-describedby="validationServer04Feedback" required name="product_rating" ngModel>
        <option selected disabled value="">Choose...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Product Image Path</label>
      <textarea class="form-control" rows="5" id="comment" required name="img" ngModel></textarea>
      <!-- <input type="text" class="form-control" id="validationServer03" aria-describedby="validationServer03Feedback" > -->

    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer04">stock Avaiable</label>
      <select class="custom-select" id="validationServer04" aria-describedby="validationServer04Feedback" required name="product_stock" ngModel>
        <option selected disabled value="">Choose...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationServer03">Product Price</label>
      <input type="text" class="form-control" id="validationServer03" aria-describedby="validationServer03Feedback" required name="product_price" ngModel>
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationServer04">Reviews</label>
      <textarea class="form-control" rows="5" id="comment" required name="product_reviews" ngModel></textarea>
    </div>
  </div>

  <button class="btn btn-primary" type="submit">Submit form</button>
</form>
