<app-header></app-header>
<div class="container pt-4">
   <!-- container starts here-->
   <div class="row">
      <!-- row starts here-->
      <div class="col-lg-3">
         <!-- col-lg-3 starts here-->
         <app-sidebar></app-sidebar>
      </div>
      <!-- col-lg-3 ends here-->
      <div class="col-lg-9">
         <!-- col-lg-9 starts here-->
         <router-outlet> </router-outlet>
      </div>
      <!-- col-lg-9 ends here-->
   </div>
   <!-- row ends here-->
</div>
<!-- container starts here-->
<app-footer></app-footer>
